:root {
	--black: #333;
	--white:#fffcf8;
	--grey: #6d6d6d;
	--point: #154182;
	--shadow: #b9b9b9c5;

	--min: 10px;
	--mid: 12px;
	--max: 14px;
	--super: 20px;
	--title: 30px;
	--footer: 10px;
}

*{
	padding: 0; margin: 0;
}

input, textarea, button {
	-webkit-appearance: none; 
	-webkit-border-radius: 0;
}

/* about */

.content-about {
	margin-top: 120px;
	padding: 30px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.asez-go {
	margin: 50px 0 30px 0;
}

.asez-go a {
	background-color: var(--black);
	color: var(--white);
	padding: 10px 20px;
	font-size: var(--min);
}

.asez-go a i {
	margin-left: 10px;
	font-size: var(--min);
}

.title {
	font-size: var(--max);
	margin: 30px;
}

.content-about p {
	font-size: var(--mid);
	line-height: 30px;
}

.rel {
	margin: 20px 0;
}

/*seminar*/

section.describe
{
		margin: 30px 0;
}

section.describe ul#list {
		display: flex;
		justify-content: space-around;
		align-items: center;
    flex-wrap: wrap;
    text-align: left;
		width: 100%;
		margin: 0 auto;
}

section.describe ul#list li {
    width: 45%;
    margin: 0;
    margin-bottom: 70px;
}

section.describe ul#list li img {
    position: relative;
    width: 100%;
}

section.describe ul#list li p {
    font-size: 11px;
    font-weight: normal;
    margin: 13px 0;
}

.sub-title {
		display: flex;
		flex-direction: column;
    justify-content: center;
    margin: 120px 0 70px 0;
		font-size: 10px;
		text-align: center;
}

.sub-title h3 {
	margin-top: 20px;
	color: var(--grey);
}

div.sub-title h1 a i{
	display: none;
}


@media screen and (max-width: 550px) {

	/*seminar*/
	section.describe {
		margin: 0;
	}

	div.sub-title {
		margin: 50px 30px 20px 30px;
		font-size: 9px;
	}

	div.sub-title h1 {
		position: relative;
		text-align: center;
		margin-top: 20px;
	}

	div.sub-title h1 a i {
		display: block;
		position: absolute;
		left: 0;
	}

	section.describe ul#list li{
		width: 100%;
		margin-bottom: 20px;
	}

	section.describe ul#list li p {
		font-size: 12px;
	}

	/* about */
	
	.content-about {
		margin: 70px 10px 70px 10px;
		padding: 10px;
	}

	.rel {
		margin: 0;
	}

	/* all */
	ul.slides li a img {
		width: 400px;
	}

	.slide-wrapper {display: none;}
	.control {display: none;}

	.media-all {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 100px 0;
	}
}