:root {
    --black: #333;
    --white: #fffff7;
    --grey: #6d6d6d;
    --point: #154182;

    --mid: 12px;
    --max: 18px;
    --title: 42px;
    --footer: 10px;
}

.fa,.fab,.fad,.fal,.far,.fas{
	font-weight: 900 !important;
	}

body{
    background-color: var(--white); 
    margin: 0;
    padding: 0;      
}

ul{
    padding: 0;
    list-style-type: none;
    font-size: var(--mid);
    font-weight: bold;
}

a{text-decoration: none; color: var(--black);}

button {
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.hide-menu {
    display: none;
}

.hide-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 26px;
}

i {
    font-size: var(--max);
}

.content{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

header h1{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: var(--title);
    font-weight: bold;
    color: var(--black);
}

.myMenu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.myMenu li {
    margin: 20px 15px;
}

.myMenu li a {
    padding-bottom: 30px;
}

/* ========================================================= */
ul.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: fit-content;
    background-color: var(--point);
    padding: 15px;
    display: none;
}
/* ========================================================= */

.submenu li {
    margin: 8px 0;
}

.submenu li a {
    color: var(--white);
}

.submenu li img {
    margin-top: 13px;
}

section.image {
    display: flex;
}

section.image img {
    width: 100vw;
}

.login-btn {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 30px 0 0;
}


/*footer*/

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 0 40px 0;
  }
  
  #qna {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  #qna i {
    color: #373737;
    font-size: var(--footer);
    margin-left: 5px;
  }
  
  #qna:hover{
    color: var(--grey);
  }
  
  div#footer-content ul {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-left: 0;
  }
  
  #footer-content ul a, #footer-content ul li, #qna{
    color: #373737;
    font-weight: bold;
    font-size: var(--footer);
  }
  
  #footer-content ul li {
    padding: 0 10px;
  }
  
  #footer-content a:hover {
    color: var(--grey);
  }
  
  
  #footer-content h2 {
      margin: 0px 0px 20px 0px;
      padding: 0px 0px 10px 0px;
      border-bottom: 3px solid #E0E1D6;
      text-shadow: 1px 1px 0px #FFFFFF;
      font-size: 26px;
      color: #373737;
  }
  
  
  
  footer #back-top i {
    color: var(--back);
  }
  
  footer #back-top {
    font-size: var(--super);
    position: fixed;
    bottom: 60px;
    right: 50px;
    opacity: 0;
    transition: all .3s ease-in-out;
  }
  
  footer #back-top i:hover {
    color: var(--grey);
  }
  
  footer #back-top.visible {
    opacity: 1;
  }
  

@media (max-width: 550px) {
    .login-btn {
        display: none;
    }
    .main {
        display: flex;
        flex-direction: column-reverse;
    }

    header h1 {
        display: none;
    }

    .hide-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
    }

    .myMenu{
        flex-direction: column;
        display: none;
    }

    .myMenu ul {
        display: flex;
        flex-direction: column;
    }

    .myMenu li a {
        padding: 0;
    }

    .myMenu li {
        margin: 10px 20px;
        text-align: center;
    }

    .myMenu.active {
        display: flex;
    }

    ul.submenu{
        display: none;
    }

    footer #back-top {
        bottom: 20px;
    }

    footer {
        margin-top: 30px;
    }

    #qna {
        margin-top: 10px;
    }
}